*{
    list-style: none;
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}
.navbar ul {
    display: flex;
    align-items: center;
    gap: 10px;
   font-size: 22px;
}

.pays-liste {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* flex-wrap: wrap; */
  }
  
  .pays-carte {
    width: 300px;
    /* margin: 20px; */
    /* border: 1px solid #ccc; */
    padding: 10px;
    text-align: center;
  }
  
  .pays-drapeau {
    width: 250px;
    margin-bottom: 10px;
  }
  
  .pays-infos {
    text-align: center;
  }
  .app{
    text-align: center;
  }


.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  gap: 20px; 
  padding: 20px; 
}

.card {
  width: 100%; 
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-content h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.card-content p {
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}